#header{
    background-image:url("snowmanheaderbackground.jpeg");
    background-position: 1710px 155px;
    text-align:center;
    height:145px;
    width:100%;
}
#snowfall{
    background-image:url("snowfalling.gif");
    position:absolute;
    top: 8px;
    bottom: 0;
    width:95.5%;
    height:145px;

}
body{
    background-image:url("mainbackground.png");
    background-attachment: fixed;
    font-family:Arial, Helvetica, sans-serif;
}
#content{
    background-color:white;
    color:blue;
    /*font-size:1em;*/
    font-weight:bold;
    text-align:center;
    position:relative;
    bottom:5px;
    width:100%;
    margin:auto;
}
.text{
    padding:10px;
}
.graphic {
    width:100%;
 }

/*BEGIN nav element*/
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display:inline;
}
li{
    float:left;
    width:20%;
    text-align:center;
}
li a{
    display: block;
    padding:10px;
    background-color:#50749c;
    font-size:1em;
    position:relative;
    bottom:11px;
    color:white;
}
/*END nav element*/

/*BEGIN probability tables element*/
.row {
    display: flex;
    text-align: center;
  }
  
  .column {
    flex: 33%;
    padding: 20px;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  
  th, td {
    text-align: center;
    padding: 5px;
  }  
  /*END probability tables element*/


 #footer{
    background-color:black;
    color:lightgray;
    font-style: normal;
    font-weight: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height:80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* About page */
.about-table{
    color:black;
    font-weight:normal;
    width:100%;
    margin-top:50px;
    border:none;
  }
.about-t1{
    display:flex;
}
.about-t2{
    flex:50%;
    font-size:2.5vw;
}

.about-table td{
    padding:10px;
}


/* Dynamic sizing for website */
  @media only screen and (min-width: 768px) {
    #header{
        width:60%;
        margin:auto;
    }
    #content{
        width:60%;
    }
    .graphic {
        width:75%;
     }
     #snowfall{
        width:59%;
     }
     .about-t2{
        font-size: 15px;
     }
    }
